{% extends 'base.html' %}

{% block content %}

{% if page == "delete-room" %}
<form method="POST" action="">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ object }} ?<br><br>
        <b>DETAILS</b>
        <ul>
            <li>Room description : {{ object.description }}</li>
            <li>Last Updated: {{ object.updated }}</li>
            <li>Date Created: {{ object.created }}</li>
            <li>Hosted by : {{ object.host }}</li>
            <li>Discussion topic: {{ object.topic }}</li>
            </ul>
        <a href="{{ request.META.HTTP_REFERER|default:'/' }}">Cancel</a>
        <input type="submit" value="Confirm">
 
    </form>
    
{% else %}
<form method="POST" action="">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ message_to_delete }} ?<br><br>
        <b>DETAILS</b>
        <ul>
            <li>Message body : {{ message_to_delete.body }}</li>
            <li>Last Updated: {{ message_to_delete.updated }}</li>
            <li>Date Created: {{ message_to_delete.created }}</li>
            <li>Created by : {{ message_to_delete.user }}</li>
            <li>Room found: {{ message_to_delete.room }}</li>
            </ul>
        <a href="{{ request.META.HTTP_REFERER|default:'/' }}">Cancel</a>
        <input type="submit" value="Confirm">
    </form>
{% endif %}

    {% endblock %}