{% extends 'base.html' %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        {% include "codebud/activity_component.html" %}
    </div>

    <div>
        <h5>{{ rooms_found }} Rooms Found!</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
        {% include "codebud/feed_component.html" %}
    </div>
    
    <div>
        {%include "codebud/topic_component.html"%}
    </div>
</div>



{% endblock %}